doctype html
html
  head
    title article.am
    link(rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css')
  body
    .container    
      block content
      br
      hr
      footer
        p Copyright &copy; 2017
